.navbar-container {
    width: 100%;
    height: 80px; /* Adjust height as needed */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .navbar-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  

  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-btn {
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    background-color: #6e0000; /* Your brand color */
    text-decoration: none;
  }
  
  .nav-btn:hover {
    background-color: #8a0000; /* Hover color */
    box-shadow: white;
  }
  